<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:utils="http://java.sun.com/jsf/composite/utils">

<h:head></h:head>
<h:body>

	<utils:header />
	<utils:loading />

	<h:form id="form">
		<p:growl autoUpdate="true" id="messages" showDetail="true" />

		<p:panel header="Cadastro de candidatos">

			<h:panelGrid columns="2">

				<p:outputLabel for="codigo" value="Código:"
					rendered="#{cadastroCandidatoBean.canditato.codigo > 0}" />
				<p:outputLabel id="codigo"
					value="#{cadastroCandidatoBean.canditato.codigo}"
					rendered="#{cadastroCandidatoBean.canditato.codigo > 0}" />

				<p:outputLabel for="nome" value="Nome:" />
				<p:inputText id="nome"
					value="#{cadastroCandidatoBean.canditato.nome}" maxlength="100"
					required="true" requiredMessage="Informe o nome" />
				<p:spacer></p:spacer>
				<p:message for="nome"></p:message>

				<p:outputLabel for="email" value="E-mail:" />
				<p:inputText id="email"
					value="#{cadastroCandidatoBean.canditato.email}" maxlength="100"
					required="true" requiredMessage="Informe o e-mail"
					validatorMessage="E-mail inválido">
					<f:validateRegex
						pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
				</p:inputText>
				<p:spacer></p:spacer>
				<p:message for="email"></p:message>

				<p:outputLabel for="sexo" value="Sexo:" />
				<p:selectOneRadio id="sexo" required="true"
					requiredMessage="Selecione o sexo"
					value="#{cadastroCandidatoBean.canditato.sexo}" unselectable="true">
					<f:selectItem itemLabel="M" itemValue="M" />
					<f:selectItem itemLabel="F" itemValue="F" />
				</p:selectOneRadio>
				<p:spacer></p:spacer>
				<p:message for="sexo"></p:message>

				<p:outputLabel for="telefone" value="Telefone:" />
				<p:inputText id="telefone"
					value="#{cadastroCandidatoBean.canditato.telefone}" maxlength="11" />

				<p:outputLabel for="endereco" value="Endereço:" />
				<p:inputText id="endereco"
					value="#{cadastroCandidatoBean.canditato.endereco}" maxlength="100" />

				<p:outputLabel for="observacao" value="Observação:" />
				<p:inputTextarea id="observacao" rows="5" cols="30"
					counter="display"
					value="#{cadastroCandidatoBean.canditato.observacao}"
					maxlength="1000" counterTemplate="{0} caracteres restantes."
					autoResize="false" />
				<br />
				<h:outputText id="display" />

			</h:panelGrid>

			<p:commandButton action="#{cadastroCandidatoBean.gravar()}"
				onstart="PF('loadingDialog').show()"
				onsuccess="PF('loadingDialog').hide()" value="Gravar"
				id="buttGravar" update="@form" ajax="true">
			</p:commandButton>

			<p:commandButton action="#{cadastroCandidatoBean.voltar()}"
				immediate="true" value="Voltar" id="buttVoltar" update="@form"
				ajax="true">
			</p:commandButton>

		</p:panel>

	</h:form>

</h:body>
</html>
