<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:utils="http://java.sun.com/jsf/composite/utils">

<h:head></h:head>
<h:body>

	<utils:header />

	<h:form id="form">
		<p:growl autoUpdate="true" id="messages" showDetail="true" />

		<p:panel>

			<p:dataTable id="tableCandidatos" var="item"
				value="#{listaCandidatoBean.lista}"
				emptyMessage="Nenhum candidato cadastrado">
				<f:facet name="header">
				Lista de candidatos
			</f:facet>

				<p:column headerText="Código">
					<h:outputText value="#{item.codigo}" />
				</p:column>
				<p:column headerText="Nome">
					<h:outputText value="#{item.nome}" />
				</p:column>
				<p:column headerText="Nota">
					<h:outputText value="#{item.nota}" />
				</p:column>
				<p:column headerText="Status">
					<h:outputText value="#{item.status.nome}" />
				</p:column>

				
				<p:column>
					<p:commandButton action="#{listaCandidatoBean.editar(item.codigo)}"
						value="Editar" icon="pi pi-search" />
					
					<p:commandButton action="#{listaCandidatoBean.adicionarNota(item.codigo)}"
						value="Nota" icon="pi pi-pencil" />
				
					<p:commandButton value="Excluir" icon="pi pi-trash" action="#{listaCandidatoBean.excluir(item.codigo)}" update="tableCandidatos">
						<p:confirm header="Confirmação de exclusão" message="Deseja excluir o candidato?" icon="pi pi-exclamation-triangle" />
					</p:commandButton>
				</p:column>

			</p:dataTable>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
				<p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
			</p:confirmDialog>

			<p:commandButton action="#{listaCandidatoBean.novo()}" value="Novo"
				id="buttNovo" update="@form" ajax="true">
			</p:commandButton>

		</p:panel>

	</h:form>

</h:body>
</html>
