<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:utils="http://java.sun.com/jsf/composite/utils">

<h:head></h:head>
<h:body>

	<utils:header />
	<utils:loading />

	<h:form id="form">
		<p:growl autoUpdate="true" id="messages" showDetail="true" />

		<p:panel header="Nota do candidato">

			<h:panelGrid columns="2">

				<p:outputLabel for="codigo" value="Código:" />
				<p:outputLabel id="codigo"
					value="#{notaCandidatoBean.canditato.codigo}" />

				<p:outputLabel for="nome" value="Nome:" />
				<p:outputLabel id="nome" value="#{notaCandidatoBean.canditato.nome}" />

				<p:outputLabel for="status" value="Status:" />
				<p:outputLabel id="status"
					value="#{notaCandidatoBean.canditato.status.nome}" />

				<p:outputLabel for="nota" value="Nota:" />
				<p:inputText id="nota" value="#{notaCandidatoBean.canditato.nota}"
					required="true" requiredMessage="Informe uma nota de 0 a 10"
					maxlength="2">
					<p:keyFilter regEx="/[\d\-]/i" />
				</p:inputText>
				<p:spacer></p:spacer>
				<p:message for="nota"></p:message>

			</h:panelGrid>

			<p:commandButton action="#{notaCandidatoBean.adicionarNota()}"
				onstart="PF('loadingDialog').show()"
				onsuccess="PF('loadingDialog').hide()" value="Gravar nota"
				id="buttGravar" update="@form" ajax="true">
			</p:commandButton>

			<p:commandButton action="#{notaCandidatoBean.voltar()}"
				immediate="true" value="Voltar" id="buttVoltar" update="@form"
				ajax="true">
			</p:commandButton>

		</p:panel>

	</h:form>

</h:body>
</html>
