<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:utils="http://java.sun.com/jsf/composite/utils">

<h:head></h:head>
<h:body>

	<utils:header />
	<utils:loading />

	<script type="text/javascript">
    //<![CDATA[
function start() {
    PF('loadingDialog').show();
}
 
function stop() {
    PF('loadingDialog').hide();
}
    //]]>
</script>

	<h:form id="form">
		<p:growl autoUpdate="true" id="messages" showDetail="true" />

		<p:panel header="Relatório de candidatos">

			<h:panelGrid columns="2">

				<p:outputLabel for="status" value="Status:" />
				<p:selectOneMenu id="status"
					value="#{relatorioCandidatoBean.codStatus}" required="true"
					requiredMessage="Selecione um status">
					<f:selectItems value="#{relatorioCandidatoBean.listStatus}" />
				</p:selectOneMenu>
				<p:spacer></p:spacer>
				<p:message for="status"></p:message>

			</h:panelGrid>

			<p:commandButton value="Gerar relatório" ajax="false"
				onclick="PrimeFaces.monitorDownload(start, stop);">
				<p:fileDownload value="#{relatorioCandidatoBean.file}" />
			</p:commandButton>

			<p:commandButton action="#{relatorioCandidatoBean.voltar()}"
				immediate="true" value="Voltar" id="buttVoltar" update="@form"
				ajax="true">
			</p:commandButton>

		</p:panel>

	</h:form>

</h:body>
</html>
