<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:utils="http://java.sun.com/jsf/composite/utils">

<h:head></h:head>
<h:body>

	<utils:header />
	<utils:loading />

	<h:form id="form">
		<p:growl autoUpdate="true" id="messages" showDetail="true" />
	</h:form>

</h:body>
</html>
