<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:utils="http://java.sun.com/jsf/composite/utils">

<h:head></h:head>
<h:body>

	<utils:loading />

	<h:form>

		<p:growl autoUpdate="true" id="messages" showDetail="true" />

		<p:panelGrid columns="2">

			<p:outputLabel value="Login: " />
			<p:inputText value="#{loginBean.login}" size="10" required="true"
				requiredMessage="Informe o login" />

			<p:outputLabel value="Senha: " />
			<p:password value="#{loginBean.senha}" size="10" required="true"
				requiredMessage="Informe a senha" />

			<p:commandButton value="Logar" update="messages"
				onstart="PF('loadingDialog').show()"
				onsuccess="PF('loadingDialog').hide()"
				action="#{loginBean.efetuarLogin()}" />

		</p:panelGrid>

	</h:form>

</h:body>
</html>
