<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:msg="http://java.sun.com/jsf/composite/msg">
<head>
</head>
<h:body>

	<composite:interface>
	</composite:interface>
	<composite:implementation>

		<h:form>

			<p:menubar>
				<p:submenu label="Candidato" icon="pi pi-user">
					<p:menuitem value="Cadastro" outcome="/candidato/lista.xhtml" ajax="false" immediate="true"  />
					<p:separator/>
					<p:menuitem value="Relatório" outcome="/candidato/relatorio.xhtml" ajax="false" immediate="true"  />
				</p:submenu>
				<p:menuitem value="Sair" action="#{loginBean.logout}" ajax="false" immediate="true" icon="pi pi-power-off"/>
			</p:menubar>

		</h:form>

	</composite:implementation>

</h:body>
</html>
