<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:msg="http://java.sun.com/jsf/composite/msg">
<head>
</head>
<h:body>

	<composite:interface>
	</composite:interface>
	<composite:implementation>

		<p:dialog modal="true" widgetVar="loadingDialog" header="Aguarde"
			draggable="false" closable="false" resizable="false">
			<p:graphicImage name="/images/ajaxloadingbar.gif" />
		</p:dialog>

	</composite:implementation>

</h:body>
</html>
